<ul>
{{yield}}
</ul>
<div class="controls-container">
  <div class="prev"><span></span></div>
  <div {{bind-attr class=":play-pause isPaused:paused"}}
  {{action 'togglePause'}}
  ><span></span></div>
  <div class="next" 
    {{action 'nextSlide'}}
    ><span></span></div>
</div>
