.carousel {
  overflow: hidden;
  position:relative;
  height: 400px;
  li {
    list-style-type: none;
//    left: 110%;
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;

    &.show {
//      left: 0;
      opacity: 1;
    }
    img {
      width: 100%;
    }
  }

  .playpause {
    z-index: 1000;
    position: absolute;
    top: 15%;
    left: 10px;
    font-size: 0.8em;
    -webkit-transition: color 1s;
    transition: color 1s;
    color: #222;
    &:hover {
      color: white;
    }

  }
}

none {
  display: none;
}

.controls-container {
  z-index: 1000;
  position: relative;
  background-color: #777;
  border-radius: 5px;
  left: 10px;
  top: 80%;
  width: 100px;
  height: 40px;
}


.play-pause {
  position: absolute;
  top: 30%;
  left: 38px;
  height: 6px;
  width: 16px;
  z-index: 10;

  // Play button
  & > span {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    width: 11px;
    height: 14px;
    border: solid 4px #fff;
    border-top: none;
    border-bottom: none;
  }

  // Pause button
  &.paused {
    & > span {
      display: block;
      right: -4px;
      top: 0px;
      width: 11px;
      height: 14px;
      border: inset 8px;
      border-right-style: solid;
      border-color: transparent transparent transparent white;
    }
  }
}



.prev,
.next {
  position: absolute;
  top: 25%;
  margin-top: 0px;
  width: 36px;
  height: 20px;
  line-height: 50px;
  color: white;
  text-indent: -9999px !important;
  z-index: 10;

  &:hover {
    // background-color: $orbit-nav-bg-hover;
    background-color: #666;
  }

  & > span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: block;
    width: 0;
    height: 0;
    border: inset 10px;
  }
}
.prev { left: 0;
  & > span {
    border-right-style: solid;
    border-color: transparent;
    border-right-color: #ddd;
  }
  &:hover > span {
    border-right-color: white;
  }
}
.next { right: 0;
  & > span {
    border-color: transparent;
    border-left-style: solid;
    border-left-color: #ddd;
    left: 50%;
    margin-left: -4px;
  }
  &:hover > span {
    border-left-color: white;
  }
}


