.carousel {
  overflow: hidden;
  position:relative;
  height: 400px;
  li {
    list-style-type: none;
    left: 110%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    &.animate {
      -webkit-transition: left 2s;
      transition: left 2s;
    }
    &.show {
      left: 0;
    }
    &.front {
      z-index: 99;
    }
    img {
      width: 100%;
    }
  }

  .playpause {
    z-index: 1000;
    position: absolute;
    top: 85%;
    left: 10px;
    font-size: 0.8em;
    -webkit-transition: color 1s;
    transition: color 1s;
    color: #222;
    &:hover {
      color: white;
    }

  }
}

none {
  display: none;
}
