<h1>About Us</h1>

<div class="thing">
  <div class="play-pause paused">
    <span></span>
  </div>
  <div class="prev">
    <span></span>
  </div>
  <div class="next">
    <span></span>
  </div>
</div>
