<h1>This is Home</h1>

{{#slide-carousel}}
<li>
<img src="http://placehold.it/500x200/234523&text=One" >
</li>
<li>
<img src="http://placehold.it/500x200/673845&text=Two" >
</li>
<li>
<img src="http://placehold.it/500x200/428468&text=Three" >
</li>
<!-- <li data-loop> -->
<li>
<img src="http://placehold.it/500x200/650534&text=Four" >
</li>
<li>
<img src="http://placehold.it/500x200/737423&text=Five" >
</li>
{{/slide-carousel}}
