<h1>This is Home</h1>

<ul class="example-orbit" data-orbit
  data-options="pause_on_hover:false;bullets:false;navigation_arrows:false;timer_progress_class:none;timer_container_class:none;timer_speed:2000;"
  >
    <li>
      <img src="http://placehold.it/500x100/234455" alt="slide 1" />
      <div class="orbit-caption">
        Caption One.
      </div>
    </li>
    <li>
      <img src="http://placehold.it/500x100/873434" alt="slide 2" />
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <img src="http://placehold.it/500x100/648545" alt="slide 3" />
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>
